@font-face {
    font-family: 'Nilland';
    src: url('../css/fonts/Nilland.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nilland-SmallCaps-Bold';
    src: url('../css/fonts/Nilland-SmallCaps-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KLB';
    src: url('../css/fonts/KLB.ttf');
    font-weight: normal;
    font-style: normal;
}

html, body {
    height: 100%;
    font-family: 'Nilland-SmallCaps-Bold';
}


/* |========= HEADER =========> */
header {
    height: 100%;
}

.header-content {
    height: 100%;
    position: relative;
    border: none;
    text-align: center;
    background-color: #66ccff;
    box-shadow:0px 8px #2E2E2E;
}

.header-content .banner {
    background-image: url(../img/bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 36%;
    border-bottom: 8px solid #fff;
    box-shadow:0px 0px 8px rgba(0, 0, 0, 0.9);
}

#nav .navbar-brand {
    font-family: 'KLB';
    font-size: 2.6em;
    color: #fff;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.header-content .avatar img {
    position: relative;
    top: -105px;
    margin-bottom: -105px;
    border: 4px solid #000;
    
    width: 210px;
    height: 210px;
    max-width: 210px;
    max-height: 210px;
    border-radius: 50%;
    z-index: 1;
}

.header-content .avatar::after {
    position: absolute;
    top: 36%;
    left: 50%;
    transform: translate(-50%, -0%);

    content: " ";
    height:112px;
    width:224px;
    border-radius: 0 0 224px 224px;
    background: #fff;
    border: 8px solid #fff;
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.4);

    z-index: 0;
}

.text-header {
    padding-top: 12px;
    color: rgba(26, 26, 26, 0.9);
    font-size: 22px;
}

#header-my-name {
    margin-left: 8px;
    color: white;
    text-shadow: -1px 0 #333333, 0 1px #333333, 1px 0 #333333, 0 -1px #333333;
    font-size: 32px;
}

#header-subtitle {
    font-size: 20px;
    color: #595959;
}

.header-content hr {
    width: 300px;
    border: 1px solid #fff;
}

/* |---- Nav ----> */
#nav {
  background: transparent;
  transition: all ease .5s;
  border: none;
}

#nav.shrink {
  transition: all ease .5s;
  background: rgba(0, 0, 0, 0.6);
}

@media screen and (min-width: 768px) {   
    #nav {
        padding: 14px;
    }

    #nav.shrink {
        padding: 2px;
    }

    #nav.shrink .navbar-brand {
        font-size: 2em;
    }

    #main-nav-collapse {
        margin-right: 2%;
    }

    #nav .navbar-header {
        margin-left: 2%;
    }
}

@media screen and (max-width: 425px) {
   .nav {
        transition: all ease .5s;
        background: rgba(0, 0, 0, 0.4);
    }
}
/* <---- Nav ----| */

/* |---- Nav Buttons ----> */
.nav li, .nav li a {
    margin: 0;
    padding: 0;
}

.btn-nav {
    border: none;
    font-size: 14px;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 6px 6px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin: 6px;
}

.btn-nav:after {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn-nav-1 {
    color: #fff;    
    border: 1px solid #fff;
    border-radius: 2px;
    font-family: sans-serif;
}

.btn-nav-1a:hover, .btn-nav-1a:active {
    color: #0e83cd;
    background: #fff;
}
/* <---- Nav Buttons ----| */

/* |---- Social Icons ----> */
.list-social {
    margin-left: 0;
    padding-left: 0;
}

.list-social li {
    display: inline-block;
    margin: 4px;
}

.icon-social {
    display: inline-block;
	width: 60px;
	height: 60px;
    text-indent: -9999px;
    background-size: 100%;
}

.list-social a{
    padding: 1px;
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: #fff;
}

.icon-github {
    background-image: url("../img/icons/github.svg");
}

.icon-linkedin {
	background-image: url("../img/icons/linkedin.svg");
}

.icon-gmail {
	background-image: url("../img/icons/gmail.svg");
}

.icon-skype {
	background-image: url("../img/icons/skype.svg");
}
/* <---- Social Icons ----| */

/* Button 'More Info' */
#btn-header-position {
    position: absolute;
    top: 92%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#btn-header-position .btn-nav {
    font-size: 16px;
}
/* <========= HEADER =========| */


/* |========= SKILLS =========> */
.skill-section {
    background-color: #333;
    box-shadow:10px 5px 8px #fff;

    padding-top: 40px;
    padding-bottom: 40px;
}

.skill-section h2 {
    color: #fff;
}

.skill-section .panel {
    box-shadow:5px 10px 12px #1a1a1a;
    margin-top: 30px;
    margin-bottom: 16px;
}

.skill-section .panel-body {
    color: #1a1a1a;
    background-color: rgba(242, 242, 242, 0.1);
}

.media .media-left img {
    border-radius: 25%;
    padding: 2px;
    border: 4px solid #e6e6e6;
    background-color: #e6e6e6;
}

.media-main img {
    width: 60px;
    height: 60px;
}

.media-sub img {
    width: 40px;
    height: 40px;
}

.media-main .media-heading {
    font-size: 1.8em;
}

.media-sub .media-heading {
    font-size: 1.4em;
    color: #666666;
}

.media .progress {
    overflow: visible;
    margin-bottom: 26px;
    height: 4px;
}

.media-main .progress-bar {
    position: relative;
    border-radius: 4px;
}

.progress-bar span {
    background-color: #5c4084;
    position: absolute;
    bottom: -20px;
    font-size: 11px;
    line-height: 10px;
    padding: 2px 3px 2px 4px;
    right: -1.4em;
    border-radius: 2px;
}

.progress-bar span:after {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #5c4084;
    border-width: 5px;
    margin-left: -5px;
}

.skill-section .progress-bar-success span {
    background-color: #1f7a1f;
}

.skill-section .progress-bar-success span:after {
    border-bottom-color: #1f7a1f;
}

.skill-section .progress-bar-warning span {
    background-color: #ff8000;
}

.skill-section .progress-bar-warning span:after {
    border-bottom-color: #ff8000;
}

.skill-section .progress-bar-danger span {
    background-color: #b30000;
}

.skill-section .progress-bar-danger span:after {
    border-bottom-color: #b30000;
}

.skill-section .panel-footer, .skill-section .panel-heading {
    color: #fff;
    border-color: #bfbfbf;

    font-size: 1.1em;
    padding-top: 4px;
    padding-bottom: 4px;
}

.back-end-panel .panel-footer, .back-end-panel .panel-heading {
    background-color: #2d5986;
}

.front-end-panel .panel-footer, .front-end-panel .panel-heading{
    background-color: #206040;
}

.infrastructure-panel .panel-footer, .infrastructure-panel .panel-heading {
    background-color: #262626;
}

.progress-bar .show-percentage {
    opacity: 0;
    animation: show 0.35s forwards ease-in-out 2.4s;
}

@keyframes show  {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.animated-progress-bar {
    -webkit-transition: width 4.50s ease !important;
    -moz-transition: width 4.50s ease !important;
    -o-transition: width 4.50s ease !important;
    transition: width 4.50s ease !important;
}
/* <========= SKILLS =========| */


/* |========= WORKERS =========> */
.work-section {
    background-color: #00cc99;
    padding-top: 40px;
    padding-bottom: 40px;
}

.work-section h2 {
    color: #fff;
}

.work-section .thumbnail {
    padding: 8px;
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 16px;
    box-shadow:5px 8px 12px #262626;
    transition:0.5s;
}

.work-section .thumbnail:hover {
    transform: scale(1.05);
    box-shadow: 10px 10px 15px rgba(0,0,0,0.5);
}

.work-section .thumbnail .caption {
    border: 2px solid #d9d9d9;
    background-color: #e6e6e6;
}

.work-section .thumbnail img {
    width: 100%;
    border-radius: 4px;
    border: 2px solid #b3b3b3;
    background-color: #999999;
    margin-bottom: 6px;
}

/* <========= WORKERS =========| */